@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}
* body .container {
  padding: 31px 24px 79px;
}
@media screen and (min-width: 768px) {
  * body .container {
    padding: 140px 97px 236px 98px;
  }
}
@media screen and (min-width: 1440px) {
  * body .container {
    padding: 144px 355px 170px;
  }
}
* body .container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* body .container .header .mainTitle {
  font-weight: 700;
  font-size: 26px;
}
* body .container .header .toggle:hover {
  cursor: url("/assets/pointer.png"), pointer;
}
* body .container .header .toggle {
  font-weight: 700;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
* body .container .header .toggle svg {
  margin: 0 0 0 16px;
}
* body .container .searchForm {
  padding: 36px 0 0 0;
  position: relative;
  text-align: center;
}
* body .container .searchForm img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 16px;
  bottom: 20px;
}
@media screen and (min-width: 768px) {
  * body .container .searchForm img {
    left: 32px;
    bottom: 22px;
  }
}
* body .container .searchForm input {
  outline: none;
  border: none;
  width: 100%;
  padding: 17px 98px 18px 45px;
  border-radius: 15px;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0;
}
* body .container .searchForm input:hover {
  cursor: url("/assets/pointer.png"), pointer;
}
@media screen and (min-width: 768px) {
  * body .container .searchForm input {
    font-size: 18px;
    padding: 22px 121px 22px 80px;
  }
}
* body .container .searchForm .noResult {
  position: absolute;
  color: red;
  right: 120px;
  bottom: 20px;
}
* body .container .searchForm button {
  background-color: #0079ff;
  color: #ffffff;
  border: none;
  position: absolute;
  border-radius: 10px;
  padding: 12.5px 16px;
  font-size: 14px;
  font-weight: 700;
  right: 7px;
  bottom: 7.5px;
}
@media screen and (min-width: 768px) {
  * body .container .searchForm button {
    padding: 12.5px 23px 13.5px 24px;
    bottom: 9.5px;
    right: 10px;
    font-size: 16px;
  }
}
* body .container .searchForm button:hover {
  background-color: #60abff;
  cursor: url("/assets/pointer.png"), pointer;
}
* body .container .profile-container {
  border-radius: 15px;
  margin: 16px 0 0 0;
  padding: 0 24px 0;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container {
    padding: 40px;
  }
}
@media screen and (min-width: 1440px) {
  * body .container .profile-container {
    padding: 0 48px 0 230px;
  }
}
* body .container .profile-container .user {
  padding: 32px 44px 0 0px;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user {
    padding: 0 159px 0 0;
  }
}
@media screen and (min-width: 1440px) {
  * body .container .profile-container .user {
    position: relative;
    padding: 0;
  }
}
* body .container .profile-container .user div {
  display: flex;
  width: 100%;
}
* body .container .profile-container .user div div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user div div {
    padding-left: 41px;
  }
}
@media screen and (min-width: 1440px) {
  * body .container .profile-container .user div div {
    padding-left: 0px;
    padding-top: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
* body .container .profile-container .user div div .userName {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user div div .userName {
    font-size: 26px;
  }
}
@media screen and (min-width: 1440px) {
  * body .container .profile-container .user div div .userName {
    grid-column: 1;
    grid-row: 1;
  }
}
* body .container .profile-container .user div div .userLink {
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user div div .userLink {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  * body .container .profile-container .user div div .userLink {
    grid-column: 1;
    grid-row: 2;
  }
}
* body .container .profile-container .user div div .userDate {
  font-size: 13px;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user div div .userDate {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  * body .container .profile-container .user div div .userDate {
    grid-column: 2;
    grid-row: 1;
    padding-left: 138px;
  }
}
* body .container .profile-container .user .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-self: center;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user .avatar {
    width: 117px;
    height: 117px;
  }
}
@media screen and (min-width: 1440px) {
  * body .container .profile-container .user .avatar {
    position: absolute;
    left: -174px;
    top: 48px;
  }
}
* body .container .profile-container .user .userName {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user .userName {
    font-size: 26px;
  }
}
* body .container .profile-container .user .userLink {
  text-decoration: none;
  font-size: 13px;
  color: #0079ff;
}
* body .container .profile-container .user .userLink:hover {
  cursor: url("/assets/pointer.png"), pointer;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user .userLink {
    font-size: 16px;
    align-self: flex-start;
  }
}
* body .container .profile-container .user .userDate {
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .user .userDate {
    font-size: 15px;
  }
}
* body .container .profile-container .text {
  padding: 33px 0 0;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .text {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  * body .container .profile-container .text {
    padding: 20px 0 0 0;
  }
}
* body .container .profile-container .text .no-bio {
  opacity: 0.7;
}
* body .container .profile-container .stats {
  padding: 23px 0 0 0;
}
* body .container .profile-container .stats .stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 18px 14px 19px 15px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .stats .stats-container {
    padding-left: 32px;
    justify-content: flex-start;
    gap: 99px;
  }
}
* body .container .profile-container .stats .stats-container div {
  text-align: center;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .stats .stats-container div {
    text-align: left;
  }
}
* body .container .profile-container .stats .stats-container div h4 {
  font-size: 11px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .stats .stats-container div h4 {
    font-size: 13px;
  }
}
* body .container .profile-container .stats .stats-container div p {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .stats .stats-container div p {
    font-size: 22px;
  }
}
* body .container .profile-container .links {
  padding: 20px 0 32px 1px;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .links {
    padding: 20px 64px 32px 1px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .links .links-left,
* body .container .profile-container .links .links-right {
    display: flex;
    flex-direction: column;
  }
}
* body .container .profile-container .links .links-left div,
* body .container .profile-container .links .links-right div {
  display: flex;
  padding: 0 0 16px 0;
}
* body .container .profile-container .links .links-left div .l1,
* body .container .profile-container .links .links-right div .l1 {
  margin: 0 19px 0 0;
}
* body .container .profile-container .links .links-left div svg,
* body .container .profile-container .links .links-right div svg {
  margin: 0px 13px 0 0;
}
* body .container .profile-container .links .links-left div p,
* body .container .profile-container .links .links-right div p {
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  * body .container .profile-container .links .links-left div p,
* body .container .profile-container .links .links-right div p {
    font-size: 15px;
  }
}
* body .container .profile-container .links .links-left div .location,
* body .container .profile-container .links .links-left div .company,
* body .container .profile-container .links .links-left div .twitter,
* body .container .profile-container .links .links-right div .location,
* body .container .profile-container .links .links-right div .company,
* body .container .profile-container .links .links-right div .twitter {
  text-decoration: none;
  cursor: url("/assets/pointer.png"), pointer;
}
* body .container .profile-container .links .links-left div .website,
* body .container .profile-container .links .links-right div .website {
  text-decoration: none;
}
* body .container .profile-container .links .links-left div .website:hover,
* body .container .profile-container .links .links-right div .website:hover {
  text-decoration: underline;
  cursor: url("/assets/pointer.png"), pointer;
}
* body .container .profile-container .links .links-left div .notAvailable,
* body .container .profile-container .links .links-right div .notAvailable {
  opacity: 0.5;
}
* body .container .profile-container .links .links-left div .notAvailable:hover,
* body .container .profile-container .links .links-right div .notAvailable:hover {
  text-decoration: none;
  cursor: unset;
}
* .dark {
  transition: ease 0.2s;
  background-color: #141d2f;
}
* .dark .container {
  color: #ffffff;
}
* .dark .container .header .toggle:hover {
  color: #90a4d4;
}
* .dark .container .header .toggle:hover svg g {
  fill: #90a4d4;
}
* .dark .searchForm input {
  transition: ease 0.2s;
  background-color: #1e2a47;
  color: #ffffff;
}
* .dark .searchForm ::placeholder {
  color: #ffffff;
}
* .dark .profile-container {
  transition: ease 0.2s;
  background-color: #1e2a47;
}
* .dark .profile-container .stats .stats-container {
  transition: ease 0.2s;
  background-color: #141d2f;
}
* .dark .profile-container .links svg path {
  fill: #ffffff;
}
* .dark .profile-container .links a {
  color: #ffffff;
}
* .light {
  transition: ease 0.2s;
  background-color: #f6f8ff;
}
* .light .container {
  transition: ease 0.2s;
  color: #222731;
}
* .light .container .header .toggle {
  color: #4b6a9b;
}
* .light .container .header .toggle:hover {
  color: #222731;
}
* .light .container .header .toggle:hover svg path {
  fill: #222731;
}
* .light .container .searchForm input {
  transition: ease 0.2s;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  background-color: #fefefe;
  color: #4b6a9b;
}
* .light .container .searchForm ::placeholder {
  color: #4b6a9b;
}
* .light .container .profile-container {
  transition: ease 0.2s;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  background-color: #fefefe;
  color: #4b6a9b;
}
* .light .container .profile-container .stats .stats-container {
  transition: ease 0.2s;
  background-color: #f6f8ff;
}
* .light .container .profile-container .stats .stats-container div p {
  color: #2b3442;
}
* .light .container .profile-container .links svg path {
  fill: #4b6a9b;
}
* .light .container .profile-container .links a {
  color: #4b6a9b;
}

/*# sourceMappingURL=css.css.map */
