@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
// Colors
$colors: (
    'blue': #0079ff,
    'white': #ffffff,
    'lightBlue': #60abff,
    'lightMode': (
        'greyishPurple': #697c9a,
        'purple': #4b6a9b,
        'darkPurple': #2b3442,
        'greyishWhite': #f6f8ff,
        'almostWhite': #fefefe,
        'devFinder': #222731,
    ),
    'darkMode': (
        'darkDMPurple': #141d2f,
        'dmPurple': #1e2a47,
        'hover': #90a4d4,
    ),
);
// Fonts
$fontFamily: 'Space Mono', monospace;
$fontWeight: (
    'regular': 400,
    'bold': 700,
);
$fontSize: (
    'xxl': 26px,
    'xl': 22px,
    'l': 16px,
    'm': 15px,
    's': 13px,
    'xs': 11px,
    'button': 14px,
    'input': 18px,
);
$lineHeight: (
    'lineHeightOne': 38px,
    'lineHeightTwo': 33px,
    'lineHeightThree': 24px,
    'lineHeightFour': 20px,
    'textLineHeight': 25px,
);
$borderRadius: (
    'main': 15px,
    'secondary': 10px,
);
$cursor: url('/assets/pointer.png'), pointer;
