@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
    box-sizing: border-box;
    body {
        .container {
            padding: 31px 24px 79px;
            @media screen and (min-width: 768px) {
                padding: 140px 97px 236px 98px;
            }
            @media screen and (min-width: 1440px) {
                padding: 144px 355px 170px;
            }
            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .mainTitle {
                    font-weight: map-get($fontWeight, 'bold');
                    font-size: map-get($fontSize, 'xxl');
                }
                .toggle:hover {
                    cursor: $cursor;
                }
                .toggle {
                    font-weight: map-get($fontWeight, 'bold');
                    font-size: map-get($fontSize, 's');
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    letter-spacing: 2.5px;
                    text-transform: uppercase;
                    img {
                        padding: 0 0 0 16px;
                    }
                }
            }
            .searchForm {
                padding: 36px 0 0 0;
                position: relative;
                text-align: center;
                img {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 16px;
                    bottom: 20px;
                    @media screen and (min-width: 768px) {
                        left: 32px;
                        bottom: 22px;
                    }
                }
                input {
                    outline: none;
                    border: none;
                    width: 100%;
                    padding: 17px 98px 18px 45px;
                    border-radius: map-get($borderRadius, 'main');
                    font-size: map-get($fontSize, 's');
                    line-height: map-get($lineHeight, 'textLineHeight');
                    letter-spacing: 0;
                    @media screen and (min-width: 768px) {
                        font-size: map-get($fontSize, 'input');
                        padding: 22px 121px 22px 80px;
                    }
                }
                button {
                    background-color: map-get($colors, 'blue');
                    border: none;
                    position: absolute;
                    border-radius: map-get($borderRadius, 'secondary');
                    padding: 12.5px 16px;
                    font-size: map-get($fontSize, 'button');
                    font-weight: map-get($fontWeight, 'bold');
                    right: 7px;
                    bottom: 7.5px;
                    @media screen and (min-width: 768px) {
                        padding: 12.5px 23px 13.5px 24px;
                        bottom: 9.5px;
                        right: 10px;
                        font-size: map-get($fontSize, 'l');
                    }
                }
            }
            .profile-container {
                border-radius: map-get($borderRadius, 'main');
                margin: 16px 0 0 0;
                padding: 0 24px 0;
                @media screen and (min-width: 768px) {
                    padding: 40px;
                }
                @media screen and (min-width: 1440px) {
                    padding: 0 48px 0 230px;
                }
                .user {
                    padding: 32px 69px 0 0px;
                    @media screen and (min-width: 768px) {
                        padding: 0 159px 0 0;
                    }
                    .avatar {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        @media screen and (min-width: 768px) {
                            width: 117px;
                            height: 117px;
                        }
                    }
                    .userName {
                        font-size: map-get($fontSize, 'l');
                        font-weight: map-get($fontWeight, 'bold');
                        @media screen and (min-width: 768px) {
                            font-size: map-get($fontSize, 'xxl');
                        }
                    }
                    .userLink {
                        font-size: map-get($fontSize, 's');
                        @media screen and (min-width: 768px) {
                            font-size: map-get($fontSize, 'l');
                        }
                    }
                    .userDate {
                        font-size: map-get($fontSize, 's');
                        @media screen and (min-width: 768px) {
                            font-size: map-get($fontSize, 'm');
                        }
                    }
                }
                .text {
                    padding: 33px 0 0;
                    font-size: map-get($fontSize, 's');
                    @media screen and (min-width: 768px) {
                        font-size: map-get($fontSize, 'm');
                    }
                }
                .stats {
                    padding: 23px 0 0 0;
                    .stats-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        padding: 18px 14px 19px 15px;
                        border-radius: map-get($borderRadius, 'secondary');
                        div {
                            text-align: center;
                            h4 {
                                font-size: map-get($fontSize, 'xs');
                                font-weight: map-get($fontWeight, 'regular');
                                @media screen and (min-width: 768px) {
                                    font-size: map-get($fontSize, 's');
                                }
                            }
                            p {
                                font-weight: map-get($fontWeight, 'bold');
                                @media screen and (min-width: 768px) {
                                    font-size: map-get($fontSize, 'xl');
                                }
                            }
                        }
                    }
                }
                .links {
                    padding: 20px 0 32px 1px;
                    @media screen and (min-width: 768px) {
                        padding: 20px 64px 32px 1px;
                        display: flex;
                        justify-content: space-between;
                    }
                    .links-left,
                    .links-right {
                        @media screen and (min-width: 768px) {
                            display: flex;
                            flex-direction: column;
                        }
                        div {
                            display: flex;
                            padding: 0 0 16px 0;
                            .l1 {
                                padding: 0 19px 0 0;
                            }
                            img {
                                padding: 0px 13px 0 0;
                            }
                            p {
                                font-size: map-get($fontSize, 's');
                                @media screen and (min-width: 768px) {
                                    font-size: map-get($fontSize, 'm');
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // ******************Dark Mode******************** //
    .dark {
        transition: ease 0.5s;
        background-color: map-get($colors, 'darkMode', 'darkDMPurple');
        .container {
            color: map-get($colors, 'white');
        }
        .searchForm {
            input {
                transition: ease 0.5s;
                background-color: map-get($colors, 'darkMode', 'dmPurple');
                color: map-get($colors, 'white');
            }
            ::placeholder {
                color: map-get($colors, 'white');
            }
            button {
                background-color: map-get($colors, 'blue');
                color: map-get($colors, 'white');
            }
        }
        .profile-container {
            transition: ease 0.5s;
            background-color: map-get($colors, 'darkMode', 'dmPurple');
            .stats {
                .stats-container {
                    transition: ease 0.5s;
                    background-color: map-get(
                        $colors,
                        'darkMode',
                        'darkDMPurple'
                    );
                }
            }
        }
    }
    // ******************Light Mode******************** //
    .light {
        transition: ease 0.5s;
        background-color: map-get($colors, 'lightMode', 'greyishWhite');
        .container {
            transition: ease 0.5s;

            color: map-get($colors, 'lightMode', 'devFinder');
            .header {
                .toggle {
                    color: map-get($colors, 'lightMode', 'purple');
                }
                .toggle:hover {
                    color: map-get($colors, 'lightMode', 'devFinder');
                }
            }
            .searchForm {
                input {
                    transition: ease 0.5s;

                    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
                    background-color: map-get(
                        $colors,
                        'lightMode',
                        'almostWhite'
                    );
                    color: map-get($colors, 'lightMode', 'purple');
                }
                ::placeholder {
                    color: map-get($colors, 'lightMode', 'purple');
                }
                button {
                    background-color: map-get($colors, 'blue');
                    color: map-get($colors, 'white');
                }
            }
            .profile-container {
                transition: ease 0.5s;

                box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
                background-color: map-get($colors, 'lightMode', 'almostWhite');
                color: map-get($colors, 'lightMode', 'purple');
                .stats {
                    .stats-container {
                        transition: ease 0.5s;
                        background-color: map-get(
                            $colors,
                            'lightMode',
                            'greyishWhite'
                        );
                        div {
                            p {
                                color: map-get(
                                    $colors,
                                    'lightMode',
                                    'darkPurple'
                                );
                            }
                        }
                    }
                }
            }
        }
    }
}
